body{
    background: lightgrey;
}

#rightarrow {
    transform: rotate(0.5turn);
    margin: auto;
    }
#leftarrow {
    margin: auto;
}
#photoviewer {
    display: flex;
    width: 900px;
    height: 400px;
    margin: auto;
    box-shadow: 2px 5px 10px grey;
}
#photo {
    width: 800px;
    height: 400px;
    object-fit: cover;
}
.arrow {
    width: 50px;
    height: 400px;
    background-color: whitesmoke;
    align-items: center;
    display: flex;
    
    
}